spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/telemetry/{application}    # сначала конфиг ищется здесь
            - classpath:config/commerce/{application}     # во вторую очередь здесь и т.д.
            - classpath:config/infra/{application}

server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/  # куда клиент должен регистрироваться и откуда получать информацию о других сервисах
  instance:
    preferIpAddress: true   # вместо hostname при регистрации в Eureka следует использовать IP-адрес машины. В облачных или контейнерных средах (н.п. Docker, Kubernetes) IP - более надёжный идентификатор
    instance-id: "${spring.application.name}:${random.value}"   # уникальный идентификатор экземпляра сервиса в Eureka. По умолчанию Eureka использует hostname + port, но это может привести к конфликтам при запуске нескольких экземпляров на одной машине