spring:
  application:
    name: gateway
  config:
    import: "configserver:"

  cloud:
    config:
      discovery:
        enabled: true           # клиент должен использовать службу обнаружения (Eureka) для поиска сервера конфигураци
        serviceId: config-server
      fail-fast: true           # если сервер конфигурации недоступен, сразу "падать"
      retry:
        useRandomPolicy: true   # для повторных попыток использовать стратегию random exponential backoff. Каждая последующая попытка переподключения совершается через всё больший случайный интервал времени
        max-interval: 6000      # максимально возможный интервал между попытками подключения

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/  # куда клиент должен регистрироваться и откуда получать информацию о других сервисах
  instance:
    preferIpAddress: true   # вместо hostname при регистрации в Eureka следует использовать IP-адрес машины. В облачных или контейнерных средах (н.п. Docker, Kubernetes) IP - более надёжный идентификатор
    instance-id: "${spring.application.name}:${random.value}"   # уникальный идентификатор экземпляра сервиса в Eureka. По умолчанию Eureka использует hostname + port, но это может привести к конфликтам при запуске нескольких экземпляров на одной машине